services:
  supermarket: # nombre de la app establecida en application.properties
    build: PruebaTecnicaSupermarket #nombre de la carpeta donde está el Dockerfile
    container_name: supermarket
    mem_limit: 512m
    ports:
      - "9092:9091"
    environment:
      DB_URL: jdbc:postgresql://postgres-db/supermarket_db
      DB_USER_NAME: "supermarket_user"
      DB_PASSWORD: "1234"
      DB_PLATFORM: "org.hibernate.dialect.PostgreSQLDialect"
      DB_DRIVER: "org.postgresql.Driver"
      SPRING_H2_CONSOLE_ENABLED: "false"
      SPRING_PROFILES_ACTIVE: prod
    restart: always
    depends_on:
      postgres-db:
        condition: service_healthy
    healthcheck:
      # Comando para chequear el endpoint de Actuator
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8080/health",
        ]
      # Espera 45 segundos para que Spring Boot arranque antes de chequear
      start_period: 45s
      # Intervalo entre chequeos de salud
      interval: 15s
      # Tiempo máximo que espera el chequeo
      timeout: 5s
      # Número de fallos antes de considerarse 'unhealthy'
      retries: 3

  postgres-db:
    image: postgres:16
    container_name: postgres-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: supermarket_user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: supermarket_db
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"] # Check de salud para PostgreSQL
      timeout: 5s
      retries: 5
      start_period: 10s
