<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <property scope="context" name="logfolder" value="/tmp/logs/supermarket" />

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d %t [%5p %c] - %m%n</pattern>
    </layout>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logfolder}/supermarket.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>${logfolder}/supermarket.%i.log.gz</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>10</MaxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d %t [%5p %c] - %X{NDC} - %m%n</Pattern>
    </layout>
  </appender>

  <logger name="ch.qos.logback" level="WARN" />

  <logger name="org.springframework" level="WARN" />

  <root level="DEBUG">
    <appender-ref ref="console" />
  </root>

  <root level="INFO">
    <appender-ref ref="file" />
  </root>


</configuration>